<div ng-if="$ctrl.show" class="modal-container" id="myModal" role="dialog">
    <div class="modal">

        <div class="modal-content">
            <div class="modal-header">
<!--                <h4 class="modal-title">{{isEdit ? selectedPerson.firstName + ' ' + selectedPerson.lastName : 'Create new user'}}</h4>-->
                <button type="button" class="close" ng-click="$ctrl.closeModal()" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
<!--                <form name="form" class="form" novalidate>-->
<!--                    <div class="form-group">-->
<!--                        <label class="modal-label" for="username">Username*</label>-->
<!--                        <input type="text" class="form-control username-input" id="username" ng-model="selectedPerson.username">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label class="modal-label" for="firstName">First name*</label>-->
<!--                        <input type="text" class="form-control" id="firstName" ng-required="required" ng-model="selectedPerson.firstName">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label class="modal-label" for="lastName">Last name*</label>-->
<!--                        <input type="text" class="form-control" id="lastName" ng-required="required" ng-model="selectedPerson.lastName">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label class="modal-label" for="email">Email*</label>-->
<!--                        <input type="email" class="form-control" id="email" ng-required="required" ng-model="selectedPerson.email">-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <label class="modal-label" for="type">Type*</label>-->
<!--                        <select class="form-control" id="type" name="type" ng-required="required" ng-model="selectedPerson.type">-->
<!--                            <option value="Driver">Driver</option>-->
<!--                            <option value="Manager">Manager</option>-->
<!--                            <option value="Repairer">Repairer</option>-->
<!--                            <option value="Admin">Admin</option>-->
<!--                        </select>-->
<!--                        <div class="form-group">-->
<!--                            <label class="modal-label" for="password">Password*</label>-->
<!--                            <input type="password" class="form-control" id="password" ng-required="required" ng-model="selectedPerson.password">-->
<!--                        </div>-->
<!--                        <div class="form-group">-->
<!--                            <label class="modal-label" for="repeatPassword">Repeat password*</label>-->
<!--                            <input type="password" class="form-control" id="repeatPassword" ng-required="required" ng-model="selectedPerson.repeatPassword">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
            </div>
<!--            <div class="modal-footer">-->
<!--                <button ng-if="isEdit" type="button" class="delete-btn" ng-click="deletePerson(selectedPerson)">Delete</button>-->
<!--                <button type="button" class="save-btn" ng-click="isEdit ? saveChanges() : addNewPerson()">Save</button>-->
<!--            </div>-->
        </div>
    </div>
</div>
