/*.container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 20px;*/
/*    margin: 10px;*/
/*}*/
/*.btn-container {*/
/*    display: flex;*/
/*    justify-content: end;*/
/*}*/
/*.create-btn {*/
/*    background-color: #3a74e3;*/
/*    color: #FFFFFF;*/
/*    padding: 10px;*/
/*    width: 100px;*/
/*    border: none;*/
/*    border-radius: 6px;*/
/*    cursor: pointer;*/
/*    margin-bottom: 15px;*/
/*}*/

/*.table-container {*/
/*    width: 100%;*/
/*}*/
.table {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 6px;
    border-collapse: collapse;
}

.table__title {
    color: #C5C5D0;
    font-weight: bold;
    font-size: 13px;
    min-width: 100px;
    text-align: initial;
    padding: 15px 0;
}

.table__title:first-child {
    padding-left: 30px;
}

.table__item {
    background-color: #F4F5F8;
    cursor: pointer;
    border-bottom: 2px solid white;
}
.table__item:hover {
    opacity: 0.9;
    background-color: #d9e1f3;
}

.table__item--text {
    color: #7D808C;
    padding: 15px 0;
}

.table__item--text:first-child {
    padding-left: 30px;
}
