
<div>
    <my-button color="'blue'" label="'Create User'" on-click="$ctrl.createUser()"></my-button>
    <my-table></my-table>

        <my-modal show="modalService.show"></my-modal>


<!--    <dialog id="custom-modal-1">-->
<!--        <div class="modal">-->
<!--            <div class="modal-body">-->
<!--                <h1>A Custom Modal!</h1>-->
<!--                <p>-->
<!--                    Home page text: <input type="text" ng-model="$ctrl.bodyText" />-->
<!--                </p>-->
<!--                <button ng-click="$ctrl.closeModal('custom-modal-1');">Close</button>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="modal-background"></div>-->
<!--    </dialog>-->

    <button ng-click="$ctrl.openModal()">OPEN</button>
</div>

